:root{

    --color-primary:#5651fb;
    --color-primary-variant:rgb(19, 91, 131);
    --color-primary-light :hsla(37, 91%, 69%, 0.18);
    --color-danger:rgb(255, 52, 52);
    --color-danger-light:hsl(346, 87%, 46%, 15%);
    --color-success:rgb(132, 206, 42);
    --color-danger-light:hsla(346, 92%, 47%, 0.15);
    --color-gray-1:#000000;
    --color-gray-2:#585858;


    --color-white:#ffff;
    --color-light:#7c93fb;
    --color-light-variant:#626262;
    --color-bg:    #c3c3ff;
    --color-black: #222222;


    --border-radius-1:.3rem;
    --border-radius-2:.5rem;
    --border-radius-3:.8rem;
    --border-radius-4:2rem;
    --border-radius-5:5rem;
}
*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    appearance: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition : .4s ease;
}
body{
    line-height: 1.2;
    font-size: 15px;
    background: var(--color-bg);
    overflow-x:hidden;
    color: var(--color-gray-1)
}
.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    max-width: 1620px;
    /* margin: 0;
    width: 90%; */
}
section{
    margin-top: 2rem;
    width: 100vw;
}
h1,h2,h3,h4,h5{
    color: var(--color-black);
}
h1{
    font-size: 2rem;
    margin: 1rem 0;
}
h2{
    font-size: 2.7rem;
    margin: 1rem 0;
}
h3{
    font-size: 1.2rem;
    margin: .8rem 0 .5rem;
}
h4{
    font-size: 3rem;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
/* START NAVBAR*/
nav{
    height: 5rem;
    width: 100vw;
    position: fixed;
    background: var(--color-primary);
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
nav .phone-button{
    display: none;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.profile-img{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    overflow: hidden;
}
nav .logo h3{
    font-size: 2rem;
    font-weight: 300;
    color : var(--color-white);
}
nav .logo h3 span{
    text-transform: uppercase;
    color: var(--color-black);
}
nav .nav-link{
    display: flex ;
    gap: 3.5rem;
    margin: 0;
    align-items: center;
}
.nav-link a{
    color: var(--color-white);
    font-weight: 300;
}
.nav-link a:hover{
    color: var(--color-black);
}
nav .nav-profile{
    cursor: pointer;
    position: relative;
}
nav .nav-profile ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 127%;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    border-radius: (--border-radius-1) 0;
    overflow: hidden;
}
.nav-profile ul li a{
    display: block;
    padding: 1rem;
    background: var(--color-success);
}
.nav-profile ul li:last-child a{
    background: var(--color-danger);
}
.nav-profile:hover  ul{
    visibility: visible;
    opacity: 1;

}

/* nav baru start */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #f2f2f2;
}
nav{
  background: #4f70a7;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  height: 5rem;
  width: 100vw;
  position: fixed;
  background: var(--color-primary);
  top: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgb(31, 116, 161);
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  
  flex: 1;
  padding: 0 20px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 20px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #3f5983;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgb(31, 116, 161);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #4467a1;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #38598d;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #41659e;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: rgb(194, 80, 80);
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}

/* END NAVBAR*/
/* Start Category Button*/
.category-btn{
    background: var(--color-primary-variant);
    display: inline-block;
    color: var(--color-light);
    padding: 8rem 2 rem;
    border-radius: var(--border-radius-0) ;
    margin-right: 5px;
}
.category-btn:hover{
    color: var(--color-black);
}
/* END Category Button*/

/*Start General Post*/
.post-thumb{
    border-radius: var(--border-radius-2) 0;
    overflow: hidden;
    margin-bottom: 1%;
    border: 0.5rem solid var(--color-gray-2);
    height: fit-content;
    /* width: fit-content */
}

.post-profile{
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
    
}
.post-profile-img{
    height: 3.2rem;
    width: 3.2rem;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
small{
    color: var(--color-light-variant);;
}
/*End General Post*/

/*START Featured post*/
.Featured{
    margin-top: 8rem;
}
.featured-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.Featured.post-thumb{
    height: fit-content;
}
/*END Featured post*/
/*Start post*/
.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-bottom: 5rem auto;
  }
  
  .post {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .post .post-thumb {
    border: .4rem solid var(--color-gray-2);
    border-radius: var(--border-radius-4) 0;
  }
  
/*END post*/
/*Start Category Btn*/
.category-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    gap: 1rem;
    text-align: center;
}
.Category{
    padding: 4rem 0;
    border-top: 2px solid var(--color-gray-1);
    border-bottom: 2px solid var(--color-gray-1);
    background-color: var(--color-light);
}
/*End Category Btn*/


/*Start Footer*/
footer{
    background:var(--color-gray-1) ;
    padding-top: 5rem ;
    box-shadow: inset 0 1.5rem 1 rgba(0, 0, 0, 0.2);

}

.footer-social{
    display: flex;
    margin-inline:auto ;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;

}

.footer-social a{
    background: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.3rem;
    width: 2.3rem;
    color: var(--color-black);
}

.footer-social a:hover{
    background:var(--color-white) ;
    color: var(--color-black);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem ;
}

.footer-container ul li a{
    color: var(--color-white);
    display: inline-block;
    opacity: 0.75;
}

.footer-container ul li a:hover{
    color: var(--color-danger);
}

.footer-container h4{
    color: var(--color-light);
    margin-bottom: 1rem;
}

.footer-copy{
    color: var(--color-white);
    text-align: center;
    padding: 1.5rem 0;
    border-top: var(--color-bg) 2px solid;
    margin-top: 4rem;
}
/*End Footer*/

/* Blog Page Search bar start */
.seacrh-bar{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    height: 100px;
}
.search-container{
    width: 30rem;
    height: 3rem; 
    background: var(--color-gray-1);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
    padding: 1 0rem;
    border-radius: var(--border-radius-5);
    color: var(--color-primary-variant);
}
.search-container>div{
    display: flex;
    align-items: center;
    width: .4rem 0;

}
.search-container input{
    /* text-align: center;  */
    background:  transparent;
    padding: 2.0rem;
    width: 100%;
    margin-left: 2 0rem;
    color: var(--color-white)
}

.search-container input::placeholder{
    color: var(--color-light);
}
/* custom button */
.btn{
    /* display: inline-block; */
    /* width: fit-content; */
    padding: .8rem 2rem;
    background: var(--color-primary);
    cursor: pointer;
    border-radius: var(--border-radius-5);
    color: var(--color-white);
}.btn {
    padding: 0.8rem 2rem;
    background: var(--color-primary);
    cursor: pointer;
    border-radius: var(--border-radius-5);
    color: var(--color-white);
    margin-left: 0.5rem; /* Atur margin kiri sesuai kebutuhan */
    margin-right: 0.5rem; /* Atur margin kanan sesuai kebutuhan */
}

.btn:hover{
    opacity: 0.75;
}


/* Blog Page Search bar END */


/* Singele Post Start */
.singele-post{
    margin: 8rem 0 2rem;
}
.singele-post-container{
    display: flex;
    flex-direction: column;
    width: 40rem;
    padding: 1rem 2rem 2rem;
    background: var(--color-light);
    color: var(--color-white);
}

.singele-post h5,
.singele-post h2{
    color: var(--color-white);
}
.singele-post p{
    text-align: justify;
    margin-top: 1rem;
    line-height: 1.7;
}
.singele-post-thumb{
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}
.singele-post-thumb img {
    width: 100%; 
    height: auto; 
    margin-top: 20px;
    align-self: center; 
}
/* Singele Post END */

/* categories start page */
.category-title{
    height:15rem ;
    margin-top: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gray-2) ;
    color: var(--color-white);
}

.category-title h2{
    color: var(--color-white);
}


/* categories END */



/* Empty page start */
.empty-page{
    display:flex ;
    justify-content: center ;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    height: 20rem;
}


/* empty page END */


/* start sign */
.form-section-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; /* Menengahkan teks dan konten di dalamnya */
}
form {
    width: 300px; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
.container-signup {
    margin-top: 20px;
}
.btn-sign-up {
    background-color: #3498db; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    /* Properti lain sesuai kebutuhan */
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-sign-up:hover {
    background-color: #2980b9; /* Warna latar belakang tombol saat dihover */
}

input,
small {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
}

input[type="file"],
button {
    cursor: pointer;
}

small {
    text-align: center;
}
.inline{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
@media (max-width: 768px) {
    form {
        width: 90%;
    }
}

/* sign END */
/* start sign in */
.form-section-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; /* Menengahkan teks dan konten di dalamnya */
}

.container-signin {
    width: 300px; /* Sesuaikan lebar formulir */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: transparent; /* Warna latar belakang form */
}

.btn-sign-in {
    background-color: #3498db; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-sign-in:hover {
    background-color: #2980b9; /* Warna latar belakang tombol saat dihover */
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

small {
    text-align: center;
}
.inline{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    width: fit-content;
}
.red{
    background:var(--color-danger) ;

}

@media (max-width: 768px) {
    .container-signin {
        width: 90%;
    }
}
/* sign in END */



/*Media Screen  start*/

@media(max-width: 1024px){
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h5{
        font-size: 0.8rem;
    }
    /*nav*/
    nav .phone-button{
        display: inline-block;
        font-size: 2rem;
        background: transparent ;
        color: var(--color-white);
        cursor: pointer;
    }

    nav .Close{
        display: none;
    }
    .nav-container{
        position: relative;
    }
    nav .nav-link {
        display: none; /* Sembunyikan link utama */
        position: absolute;
        top: 100%; /* Geser ke bawah */
        right: 0;
        background: var(--color-primary); /* Warna latar belakang */
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2);
        visibility: hidden;
        opacity: 0;
        border-radius: (--border-radius-1) 0;
        overflow: hidden;
        transition: visibility 0s, opacity 0.5s linear;
    }

    .nav-link li{
        width: 100%;
        display: flex;
        align-items: center;
        height: 4.5rem;
        box-shadow: 2rem 3rem 7rem rgba(0, 0, 0, 0.7);
        animation: ANI 4s 0s ease forwards;
        opacity: 0;
        transform-origin: top;
    }
    .nav-link li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav-link li:nth-child(3){
        animation-delay: 250ms;
    }
    .nav-link li:nth-child(4){
        animation-delay: 300ms;
    }
    .nav-link li:nth-child(5){
        animation-delay: 350ms;
    }
    .nav-link li:nth-child(6){
        animation-delay: 400ms;
    }
    .nav-link li:nth-child(4){
        animation-delay: 300ms;
    }
    @keyframes ANI {
        0%{
            transform: rotateX('90deg');
        }
        100%{
            opacity: 1;
            transform: rotateY('0deg');
        }
        
    }
    .nav-link li a{
        width: 100%;
        height: 100%;
        background: var(--color-gray-1);
        display: flex;
        align-items: center;
        padding: 0 2rem;
    }
    .nav-link li a:hover{
        opacity: 0.85;
        color: var(--color-white);
    }


    nav ul li:last-child{
        background: var(--color-gray-1);
    }
    .nav-profile{
        margin: 0 auto;
    }
    /*........featured....*/
    .featured-container {
        /* grid-template-columns: 1fr; */
        gap: 3rem;
        width: 80%;
        grid-template-columns: 1fr;
    }
    .featured-container .post-thumb {
       width: 70%;
       margin: 0 auto;
    }

    .post-container{
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }

}
/* MAX WIDTH: 6OOPX  vid :58:19*/
@media (max-width:600px){
    .featured-container{
        width: 90%;
        gap:0.5rem;
    }
    .post-container{
        grid-template-columns: 1fr;
        gap:.5rem;
    }
    .singele-post-container{
        padding: 1rem;
        width: 70%;
    }

    .category-container{
        grid-template-columns: 1fr 1fr;
        gap:.90%;
    }
    .footer-container{
        flex-direction: column;
        gap:2rem;
        text-align: center;
        margin-top: 3rem;
    }
    /* .........Blog...... */
    .search-container{
        width: 90%;

    }
    /* Singele Post*/
    .singele-post-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 1.5rem ;
    }
    .singele-post p{
        line-height: 1.6;
    }
    .singele-post-container .singele-post.post-thumb{
        margin-top: 1rem;
    }
    /*sign up*/
    .form-section-container {
        width: 90%;
    }

}
/*Media Screen  end*/

/*start about*/
/* Tata letak grid container */
.about-page {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.container-about {
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
}

/* Tata letak grid item */
.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    gap: 20px;
    padding: 20px;
}

.container-about h2{
    text-align: center; 
    margin-top: 20px; 
    font-size: 40px; 
    color: #090909; 
    background-color: var(--color-light);
    padding: 2px 10px;
}

/* Gaya informasi tentang halaman */
.about-description{
    text-align: center;
    margin-top: 10px;
    text-align: justify;
    background-color: var(--color-light);
    padding: 10px;
}
.about-team {
    /* text-align: center; */
    display: grid;
    grid-template-columns: repeat(3, 2fr); 
    gap: 20px;
    background-color: var(--color-light);
    padding: 10px;
}
.about-page h2 {
    text-align: center;
  }

.about-page h3 {
    text-align: center;
  }

/* Gaya informasi anggota tim */
.team-member {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid var(--color-gray-1);
    border-radius: 8px;
    margin: 10px;

}
.team-member h1 {
    font-size: 18px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 10px;
    /* Untuk menengahkan gambar di dalam elemen .team-member */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Responsif untuk tablet dan ponsel */
@media screen and (max-width: 768px) {
    .container-about {
        width: 80%; /* Lebar kontainer lebih kecil */
    }

    .about-content {
        grid-template-columns: 1fr; /* Menampilkan satu kolom pada layar kecil */
    }

    .about-team {
        grid-template-columns: 1fr; /* Menampilkan satu kolom pada layar kecil */
    }
}

/*end about*/


/*Start Contact*/
.container-box-contact {
    padding: 30px;
    text-align: center;
    background: linear-gradient(to top left, skyblue, violet) no-repeat center fixed;
    background-size: cover;
}

.container-form-contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Jarak antara elemen dalam form */
    align-items: center;
    margin-top: 20px; /* Mengurangi jarak atas form */
    margin-bottom: 20px; /* Mengurangi jarak bawah form */
}

.input-field {
    padding: 10px;
    margin: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px black;
    width: 250px;
    max-width: 500px;
    max-height: 100px;
    background-color: rgb(236, 227, 227);
    color: #000000;
}

.input-field:focus {
    background-color: white;
}

/* Ganti warna latar saat tombol di-hover */
#btn-submit:hover {
    cursor: pointer;
    background-color: rgb(107, 218, 107);
}

#btn-reset:hover {
    cursor: pointer;
    background-color: rgb(255, 48, 48);
}
/*End Contact*/

/*Start Categorie*/
/* Hapus gaya default list dan tautan */
.dropdown,
.dropdown-content {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Atur tampilan dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-primary); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tampilkan dropdown saat tautan dihover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Atur tampilan tautan dropdown */
.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff; /* Warna teks tautan dropdown */
}

/* Atur tampilan tautan saat dihover */
.dropdown a:hover {
    background-color:var(--color-primary); /* Warna latar saat dihover */
}




